.card-footer {
    display:flex;
    flex-flow: column;
    margin-top: 5px;
}


.update-button, .delete-button {
    font-size: 15px;
    font-weight: 600;
    background-color: #fff;
}

.update-button {
    color: #444;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 0px;
    border-top:solid 1px #4b6587;
    border-left:solid 1px #d33532;

}

.update-button:hover {
    background-color: #4b6587;
    border-top:solid 1px #4b6587;
    border-right: solid 1px #4b6587;
    border-bottom: solid 1px #4b6587;
    color: #F0E5CF
}

.update-button:active {
    --bs-btn-active-bg: #2c3b4f;
    --bs-btn-active-border-color: #2c3b4f;
}

.delete-button {
    color:#d33532;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 0px;
    border-top:solid 1px #d33532;
    
}

.delete-button:hover {
    background-color: #d33532;
    border-top:solid 1px #d33532;
    border-right: solid 1px #d33532;
    border-bottom: solid 1px #d33532;
    border-left: solid 1px #d33532;
}

.delete-button:active {
    --bs-btn-active-bg: #b12c2a;
    --bs-btn-active-border-color: #b12c2a;
}

.btn-group {
    /* border:none !important; */
    font-family: 'General Sans', sans-serif;
}

.btn-primary {
    --bs-btn-border-color: none;
}