* {
  padding: 0;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.login-container {
  height: 100vh;
  background: url(../src/components/images/photo-1530554764233-e79e16c91d08.avif) no-repeat center center fixed;
  background-size: cover;
}
